In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
survey = pd.read_csv('data/gaming_health_capstone.csv', encoding='latin-1')
survey

,id,zeitstempel,q1,q2,q3,q4,q5,q6,q7,problems,...,birthplace,residence,reference,playstyle,accept,gad_t,swl_t,spin_t,residence_iso3,birthplace_iso3
0,1,42052.00437,0,0,0,0,1,0,0,Not difficult at all,...,USA,USA,Reddit,Singleplayer,Accept,1,23,5.0,USA,USA
1,2,42052.00680,1,2,2,2,0,1,0,Somewhat difficult,...,USA,USA,Reddit,Multiplayer - online - with strangers,Accept,8,16,33.0,USA,USA
2,3,42052.03860,0,2,2,0,0,3,1,Not difficult at all,...,Germany,Germany,Reddit,Singleplayer,Accept,8,17,31.0,DEU,DEU
3,4,42052.06804,0,0,0,0,0,0,0,Not difficult at all,...,USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,0,17,11.0,USA,USA
4,5,42052.08948,2,1,2,2,2,3,2,Very difficult,...,USA,South Korea,Reddit,Multiplayer - online - with strangers,Accept,14,14,13.0,KOR,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13459,14246,42057.75678,1,0,0,1,0,1,1,Not difficult at all,...,France,France,Reddit,Multiplayer - online - with strangers,Accept,4,28,7.0,FRA,FRA
13460,14247,42057.81185,3,3,3,3,2,3,3,Extremely difficult,...,USA,USA,Reddit,Multiplayer - online - with strangers,Accept,20,23,25.0,USA,USA
13461,14248,42058.16964,0,0,0,0,0,0,0,Not difficult at all,...,Norway,Norway,Reddit,Multiplayer - online - with real life friends,Accept,0,32,10.0,NOR,NOR
13462,14249,42058.24420,3,2,1,3,0,1,3,Somewhat difficult,...,Canada,Canada,Reddit,Singleplayer,Accept,13,16,32.0,CAN,CAN
13463,14250,42058.36375,1,1,0,0,0,0,0,Somewhat difficult,...,Canada,Canada,Reddit,Multiplayer - online - with strangers,Accept,2,25,14.0,CAN,CAN

### Dropping unwanted Columns

In [3]:
survey.columns

Index(['id', 'zeitstempel', 'q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7',
       'problems', 'qb1', 'qb2', 'qb3', 'qb4', 'qb5', 'games', 'console',
       'hour', 'reason', 'important', 'league', 'highestleague', 'streams',
       'spin1', 'spin2', 'spin3', 'spin4', 'spin5', 'spin6', 'spin7', 'spin8',
       'spin9', 'spin10', 'spin11', 'spin12', 'spin13', 'spin14', 'spin15',
       'spin16', 'spin17', 'spin_total', 'narcissism', 'gender', 'age', 'work',
       'degree', 'birthplace', 'residence', 'reference', 'playstyle', 'accept',
       'gad_t', 'swl_t', 'spin_t', 'residence_iso3', 'birthplace_iso3'],
      dtype='object')

In [4]:
survey = survey.drop(columns = {'league','highestleague','streams','birthplace',
                                'residence','reference','accept','gad_t','swl_t',
                                'spin_t','birthplace_iso3','residence_iso3','zeitstempel','id'})
survey.head()

,q1,q2,q3,q4,q5,q6,q7,problems,qb1,qb2,...,spin15,spin16,spin17,spin_total,narcissism,gender,age,work,degree,playstyle
0,0,0,0,0,1,0,0,Not difficult at all,3,5,...,0,1,0,5,1.0,Male,25,Unemployed / between jobs,Bachelor (or equivalent),Singleplayer
1,1,2,2,2,0,1,0,Somewhat difficult,3,5,...,3,1,2,33,1.0,Male,41,Unemployed / between jobs,Bachelor (or equivalent),Multiplayer - online - with strangers
2,0,2,2,0,0,3,1,Not difficult at all,2,6,...,4,4,2,31,4.0,Female,32,Employed,Bachelor (or equivalent),Singleplayer
3,0,0,0,0,0,0,0,Not difficult at all,2,5,...,1,0,0,11,2.0,Male,28,Employed,Bachelor (or equivalent),Multiplayer - online - with online acquaintanc...
4,2,1,2,2,2,3,2,Very difficult,2,2,...,0,3,0,13,1.0,Male,19,Employed,High school diploma (or equivalent),Multiplayer - online - with strangers

### Questionnaire A:

In [7]:
survey_quest_a = survey[['q1','q2','q3','q4','q5','q6','q7','problems']]
survey_quest_a

       q1  q2  q3  q4  q5  q6  q7              problems
0       0   0   0   0   1   0   0  Not difficult at all
1       1   2   2   2   0   1   0    Somewhat difficult
2       0   2   2   0   0   3   1  Not difficult at all
3       0   0   0   0   0   0   0  Not difficult at all
4       2   1   2   2   2   3   2        Very difficult
...    ..  ..  ..  ..  ..  ..  ..                   ...
13459   1   0   0   1   0   1   1  Not difficult at all
13460   3   3   3   3   2   3   3   Extremely difficult
13461   0   0   0   0   0   0   0  Not difficult at all
13462   3   2   1   3   0   1   3    Somewhat difficult
13463   1   1   0   0   0   0   0    Somewhat difficult

[13464 rows x 8 columns]

### Questionnaire B:

In [10]:
survey_quest_b = survey[['qb1','qb2','qb3','qb4','qb5']]
survey_quest_b

       qb1  qb2  qb3  qb4  qb5
0        3    5    5    5    5
1        3    5    2    5    1
2        2    6    5    2    2
3        2    5    5    3    2
4        2    2    4    5    1
...    ...  ...  ...  ...  ...
13459    6    6    5    5    6
13460    5    5    5    4    4
13461    6    6    7    7    6
13462    2    6    3    2    3
13463    5    6    5    3    6

[13464 rows x 5 columns]

### Questionnaire C (Spin):

In [13]:
survey_quest_c = survey[['spin1','spin2','spin3','spin4','spin5','spin6',
        'spin7','spin8','spin9','spin10','spin11','spin12',
        'spin13','spin14','spin15','spin16','spin17','spin_total']]
survey_quest_c

,spin1,spin2,spin3,spin4,spin5,spin6,spin7,spin8,spin9,spin10,spin11,spin12,spin13,spin14,spin15,spin16,spin17,spin_total
0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,5
1,2,1,1,3,2,3,1,3,4,0,3,0,1,3,3,1,2,33
2,1,0,1,2,3,4,2,1,0,1,1,3,0,2,4,4,2,31
3,2,0,0,1,3,0,0,0,0,0,1,3,0,0,1,0,0,11
4,2,0,0,0,1,0,0,4,2,0,1,0,0,0,0,3,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13459,1,1,1,2,1,0,0,0,0,0,0,0,0,0,1,0,0,7
13460,0,1,2,2,0,1,3,3,2,1,4,0,2,2,1,0,1,25
13461,0,1,0,2,0,1,0,2,0,1,1,1,0,1,0,0,0,10
13462,0,1,3,2,3,4,1,3,4,1,3,1,0,3,2,0,1,32
13463,1,0,1,3,0,3,0,1,0,1,0,0,0,0,1,1,2,14

In [30]:
def survey_quest_none(none):
    if (none <= 20):
        return str('none')
#def survey_quest_mild(mild):
   # if survey_quest_c[survey_quest_c['spin_total'] >= 21][survey_quest_c[survey_quest_c['spin_total'] <=40]]:
        #return 'mild'